/* Color Variables */
/* primary & secondary color   */
/* neutral color  */
/* neutral whiteColor */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");
/*

0 - 600px:       Mobile Phone
601 - 767px:     Tablet Small
768px - 1023px:  Tablet
1024px - 1200px: Notebook

[1200 - 1800] is where our normal styles apply

1800px + :      Big desktop

$breakpoint arguement choices:
- mobile
- tablet-small
- tablet
- notebook
- big-desktop

*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 15px;
    line-height: 18px;
  }
}
body.active {
  overflow-y: hidden;
}

:focus-visible {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  display: block;
}

svg {
  display: block;
}

label {
  display: block;
}

img,
iframe {
  max-width: 100%;
  display: block;
}

.table-responsive {
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: auto;
}

html.prevent-scroll, html.prevent-scroll body {
  height: 100%;
  overflow: hidden;
}

@-webkit-keyframes arrowAnimation {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(calc(50% + 10px));
  }
  51% {
    transform: translateX(calc(-50% - 10px));
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes arrowAnimation {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(calc(50% + 10px));
  }
  51% {
    transform: translateX(calc(-50% - 10px));
  }
  100% {
    transform: translateX(0%);
  }
}
.input-field {
  width: 100%;
  max-width: 350px;
  background: #ffffff;
  color: #14171f;
  min-height: 41px;
  padding: 9px 7px;
  border: 1px solid #e0e3eb;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  transition: all 0.3s ease;
  /* Text-field text-color */
}
@media only screen and (max-width: 767px) {
  .input-field {
    font-size: 15px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .input-field {
    min-height: 38px;
  }
}
@media only screen and (max-width: 600px) {
  .input-field {
    max-width: 450px;
  }
}
.input-field:hover, .input-field:active, .input-field:focus {
  border: 1px solid #a3aac2;
}
.input-field::-moz-placeholder {
  color: #a3aac2;
}
.input-field:-ms-input-placeholder {
  color: #a3aac2;
}
.input-field::placeholder {
  color: #a3aac2;
}

header {
  background-color: #fff;
}
header .page-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  header .page-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
header .page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  header .page-header .container {
    width: 100%;
  }
}
header .page-header .container .right-menu {
  justify-content: flex-end;
}
header .page-header .container .right-menu .shopping-cart {
  padding-right: 15px;
}
@media only screen and (max-width: 767px) {
  header .page-header .container .right-menu .shopping-cart {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  header .page-header .container .right-menu .profile {
    display: none !important;
  }
}
header .page-header .container .right-menu .profile .user-icon {
  font-weight: bold;
  font-size: 25px;
}
header .page-header .container .right-menu .profile .name {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
header .page-header .container .right-menu .profile .name .profile-list {
  position: absolute;
  top: 22px;
  display: none;
  padding: 10px 0px;
  width: 160px;
  background-color: aqua;
}
header .page-header .container .right-menu .profile .name .profile-list .pro-list-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px;
}
header .page-header .container .right-menu .profile .name .profile-list .pro-list-item a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
}
header .page-header .container .right-menu .profile .name:hover .profile-list {
  display: inherit;
}
header .page-header .container .menu-icon {
  display: none;
  padding-right: 10px;
}
@media only screen and (max-width: 767px) {
  header .page-header .container .menu-icon {
    display: block;
  }
}
header .page-header .container .login-toggle {
  display: block;
  padding-right: 10px;
  cursor: pointer;
}
header .page-header .container .logo {
  max-width: 120px;
  width: 100%;
  height: 30px;
}
@media only screen and (max-width: 767px) {
  header .page-header .container .logo img {
    max-width: 120px;
  }
}
header .page-header .container nav {
  display: block;
  position: absolute;
  transform: translateX(-200%);
  transition: all 300ms ease;
  top: 78px;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  z-index: 1;
}
header .page-header .container nav ul {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .page-header .container nav ul li:not(:first-child) {
  border-top: 1px solid #e0e3eb;
}
header .page-header .container nav ul li a {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #14171f;
  padding: 0 25px;
  transition: all 0.3s ease;
  font-size: 20px;
}
@media only screen and (max-width: 767px) {
  header .page-header .container nav ul li a {
    padding: 10px;
    font-size: 15px;
    line-height: 18px;
  }
}
header .page-header .container nav ul li a:hover, header .page-header .container nav ul li a:active, header .page-header .container nav ul li a:focus {
  text-decoration: underline;
  text-shadow: 0px 0px 1px #14171f;
}
header .page-header .container nav ul li:first-child a {
  padding-left: 10px;
}
header .page-header .container nav ul li:last-child a {
  padding-right: 0;
}
@media only screen and (max-width: 767px) {
  header .page-header .container nav ul li:last-child a {
    padding-right: 10px;
  }
}
header .page-header .container nav.active {
  transform: translateX(0);
}
header .page-header .container nav .nav2-list {
  align-items: flex-start !important;
}
header .page-header .container nav .menu-pro {
  width: 70%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  header .page-header .container nav .menu-pro {
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
  }
}
header .page-header .container nav .menu-pro .menu-list .main-menu {
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #000;
}
header .page-header .container nav .menu-pro .menu-list .list .list-item {
  padding-bottom: 5px;
}
header .page-header .container nav .menu-pro .menu-list .list .list-item a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: normal;
}

.left-menu-list {
  padding-left: 20px;
}
@media only screen and (max-width: 767px) {
  .left-menu-list {
    display: none;
  }
}

.left-menu-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.left-menu-list ul li {
  display: inline-block;
  color: #000000;
}

.left-menu-list ul li a {
  display: block;
  padding: 0 10px;
  color: #000;
  font-size: 18px;
  line-height: normal;
  text-decoration: none;
}

.left-menu-list a:hover {
  color: rgb(83, 72, 72);
}

/* Hide Dropdowns by Default */
.left-menu-list ul ul {
  display: none;
  position: absolute;
  top: 22px; /* the height of the main .left-menu-list */
}

/* Display Dropdowns on Hover */
.left-menu-list ul li:hover > ul {
  display: inherit;
  z-index: 121;
  padding: 5px 0px;
  border-radius: 4px;
}

/* Fisrt Tier Dropdown */
.left-menu-list ul ul li {
  width: 200px;
  float: none;
  display: list-item;
  position: relative;
  padding: 10px 0px;
  background-color: #fff;
}

.left-menu-list ul ul li a {
  font-size: 14px !important;
}

/* Second, Third and more Tiers	*/
/* Change this in order to change the Dropdown symbol */
li > a:after {
  content: " +";
}

li > a:only-child:after {
  content: "";
}

footer .page-footer {
  padding-top: 85px;
  padding-bottom: 85px;
}
@media only screen and (max-width: 767px) {
  footer .page-footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
footer .page-footer .footer {
  padding-bottom: 50px;
}
footer .page-footer .footer .container {
  display: flex;
}
@media only screen and (max-width: 767px) {
  footer .page-footer .footer .container {
    flex-direction: column;
  }
}
footer .page-footer .footer .container .left-block {
  width: 50%;
  padding-right: 10px;
}
@media only screen and (max-width: 767px) {
  footer .page-footer .footer .container .left-block {
    width: 100%;
    padding-right: 0px;
  }
}
footer .page-footer .footer .container .left-block .footer-info ul li:not(:last-child) {
  padding-bottom: 30px;
  display: flex;
}
@media only screen and (max-width: 767px) {
  footer .page-footer .footer .container .left-block .footer-info ul li:not(:last-child) {
    padding-bottom: 15px;
  }
}
footer .page-footer .footer .container .left-block .footer-info ul li .title {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #4b6379;
  min-width: 100px;
  padding-right: 5px;
}
@media only screen and (max-width: 767px) {
  footer .page-footer .footer .container .left-block .footer-info ul li .title {
    font-size: 15px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 767px) {
  footer .page-footer .footer .container .left-block .footer-info ul li .title {
    min-width: 70px;
  }
}
footer .page-footer .footer .container .left-block .footer-info ul li p {
  color: #292e3d;
}
footer .page-footer .footer .container .left-block .footer-info ul li .logo a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media only screen and (max-width: 767px) {
  footer .page-footer .footer .container .left-block .footer-info ul li .logo a img {
    max-width: 120px;
  }
}
footer .page-footer .footer .container .right-block {
  width: 50%;
  padding-left: 10px;
}
@media only screen and (max-width: 767px) {
  footer .page-footer .footer .container .right-block {
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
  }
}
footer .page-footer .footer .container .right-block .newsletter {
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  footer .page-footer .footer .container .right-block .newsletter {
    margin-bottom: 15px;
  }
}
footer .page-footer .footer .container .right-block .newsletter label {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #4b6379;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  footer .page-footer .footer .container .right-block .newsletter label {
    font-size: 15px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 767px) {
  footer .page-footer .footer .container .right-block .newsletter label {
    margin-bottom: 10px;
  }
}
footer .page-footer .footer .container .right-block .newsletter .row {
  display: flex;
}
@media only screen and (max-width: 600px) {
  footer .page-footer .footer .container .right-block .newsletter .row {
    flex-direction: column;
  }
}
footer .page-footer .footer .container .right-block .newsletter .row input {
  max-width: unset;
}
@media only screen and (max-width: 600px) {
  footer .page-footer .footer .container .right-block .newsletter .row input {
    max-width: 450px;
  }
}
@media only screen and (max-width: 600px) {
  footer .page-footer .footer .container .right-block .newsletter .row .actions-toolbar {
    margin-top: 10px;
  }
}
footer .page-footer .footer .container .right-block .newsletter .row .actions-toolbar button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background: #4487d5;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  footer .page-footer .footer .container .right-block .newsletter .row .actions-toolbar button {
    font-size: 15px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 767px) {
  footer .page-footer .footer .container .right-block .newsletter .row .actions-toolbar button {
    padding: 10px 15px;
  }
}
@media only screen and (max-width: 600px) {
  footer .page-footer .footer .container .right-block .newsletter .row .actions-toolbar button {
    width: 100%;
    max-width: 450px;
  }
}
footer .page-footer .footer .container .right-block .social-icons ul {
  display: flex;
}
footer .page-footer .footer .container .right-block .social-icons ul li:not(:first-child) {
  padding-left: 10px;
}
@media only screen and (max-width: 767px) {
  footer .page-footer .footer .container .right-block .social-icons ul li:not(:first-child) {
    padding-left: 5px;
  }
}
@media only screen and (max-width: 767px) {
  footer .page-footer .footer .container .right-block .social-icons ul li a img {
    width: 30px;
    height: 30px;
  }
}
footer .copyright {
  background: #4b6379;
  padding: 20px 0px;
}
@media only screen and (max-width: 767px) {
  footer .copyright {
    padding: 10px 0;
  }
}
footer .copyright .container .caption {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  footer .copyright .container .caption {
    font-size: 15px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 767px) {
  footer .copyright .container .caption {
    font-size: 12px;
    line-height: 16px;
  }
}

.logo-top {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  margin-bottom: -20px;
}

.logo-top img {
  width: 250px;
}

.login-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-info {
  max-width: 558px;
  width: 100%;
  margin-top: 50px !important;
  margin: auto;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 45px;
  background-color: #fff;
  box-shadow: 0px 0px 23px 0px rgba(211, 209, 209, 0.95);
  -webkit-box-shadow: 0px 0px 23px 0px rgba(211, 209, 209, 0.95);
  -moz-box-shadow: 0px 0px 23px 0px rgba(211, 209, 209, 0.95);
}

p {
  margin-bottom: 0px;
}

.login-title h1 {
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0px !important;
}

.logoin-logo {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.email-feild {
  padding: 15px 40px;
}

.email-feild label {
  font-size: 18px;
  font-weight: 500;
  color: rgb(43, 41, 41);
}

.email-feild input {
  width: 100%;
  padding: 17px 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border: 1px solid rgb(241, 238, 238);
  margin-top: 5px;
}

.login-remmeber {
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(43, 41, 41);
}

.forget-pass a {
  text-decoration: none;
  color: rgb(43, 41, 41);
  font-size: 14px;
}

.email-feild input:focus {
  box-shadow: 0px 0px 35px -19px rgba(105, 237, 16, 0.75);
  -webkit-box-shadow: 0px 0px 35px -19px rgba(105, 237, 16, 0.75);
  -moz-box-shadow: 0px 0px 35px -19px rgba(105, 237, 16, 0.75);
}

.email-feild input::-moz-placeholder {
  color: rgb(84, 84, 84);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.email-feild input:-ms-input-placeholder {
  color: rgb(84, 84, 84);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.email-feild input::placeholder {
  color: rgb(84, 84, 84);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.icon {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon i {
  color: rgb(197, 181, 181);
  font-weight: 700;
  font-size: 20px;
}

.form-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 43px;
}

.form-btn .btn {
  width: 100%;
}

.btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 40px;
  background: #0000FF;
  border-radius: 4px;
  text-decoration: none;
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #0000FF;
}

.btn a:hover {
  background-color: transparent;
  border: 2px solid #0000FF;
  transition: all 0.5s ease-in-out;
  color: #0000FF !important;
}

.form-btn {
  padding-bottom: 40px;
}

.footer-description {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-description p {
  margin-bottom: 0px !important;
}

.uper {
  color: rgb(46, 41, 41);
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
}

.lower {
  font-size: 12px;
  font-weight: 400;
  color: rgb(101, 105, 116);
}

.lower a {
  text-decoration: none;
  color: rgb(101, 105, 116);
}

@media (max-width: 991px) {
  .login-info {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .login-info {
    width: 100%;
  }
  .login-title h1 {
    font-size: 33px;
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .logoin-logo img {
    width: 80px;
  }
}
@media (max-width: 575px) {
  body {
    height: 130vh;
  }
  .login-info {
    padding-top: 5px;
    padding-bottom: 40px;
  }
  .login-title h1 {
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .logoin-logo img {
    width: 70px;
  }
  .email-feild {
    padding: 15px 5px;
  }
  .icon {
    right: 20px;
  }
  .form-btn {
    padding: 15px 5px;
  }
  .btn a {
    padding: 9px 25px;
    font-size: 15px;
  }
  .forget a {
    font-size: 14px;
  }
  .footer-description {
    bottom: 20px;
  }
  .uper {
    font-size: 11px;
  }
  .lower {
    font-size: 10px;
  }
  .forget {
    padding: 0px 5px;
  }
  .logo-top img {
    width: 190px;
  }
}
.login-bg {
  background-image: url(../images/login-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.home-bg {
  background: linear-gradient(25deg, rgba(108, 246, 254, 0.62) 0%, rgba(21, 234, 246, 0.64) 100%), url(../images/home-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 20px;
}

.profile-section .container .profile-page {
  padding-top: 30px;
}
.profile-section .container .profile-page .profile-header {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  background-image: url(../images/profie-g.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 0.5;
  padding-left: 50px;
  padding-right: 20px;
  border-radius: 8px;
}
@media only screen and (max-width: 767px) {
  .profile-section .container .profile-page .profile-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .profile-section .container .profile-page .profile-header {
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.profile-section .container .profile-page .profile-header .profile-header-img {
  width: 150px;
  height: 150px;
}
.profile-section .container .profile-page .profile-header .profile-header-img img {
  width: 100%;
  border-radius: 50%;
}
.profile-section .container .profile-page .profile-header .account-img {
  width: 70px !important;
  height: 70px !important;
}
.profile-section .container .profile-page .profile-header .profile-name {
  padding-left: 20px;
}
.profile-section .container .profile-page .profile-header .profile-name .name {
  color: aliceblue;
}
@media only screen and (max-width: 1023px) {
  .profile-section .container .profile-page .profile-header .profile-name .name {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .profile-section .container .profile-page .profile-header .profile-name .name {
    font-size: 15px;
  }
}
.profile-section .container .profile-page .profile-header .profile-name .depart {
  color: aqua;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
}
@media only screen and (max-width: 1023px) {
  .profile-section .container .profile-page .profile-header .profile-name .depart {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .profile-section .container .profile-page .profile-header .profile-name .depart {
    font-size: 13px;
    color: #000;
  }
}
.profile-section .container .profile-page .account-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .profile-section .container .profile-page .account-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.profile-section .container .profile-page .account-header .profile-name .name {
  font-size: 22px;
}
.profile-section .container .profile-page .account-header .profile-name .depart {
  font-size: 15px;
}
.profile-section .container .profile-page .profile-nav {
  padding-top: 20px;
}
.profile-section .container .profile-page .profile-nav .profile-link {
  display: flex;
  align-items: center;
  padding-left: 0px;
}
.profile-section .container .profile-page .profile-nav .profile-link .profile-link-items:not(:last-child) {
  padding-right: 20px;
}
.profile-section .container .profile-page .profile-nav .profile-link .profile-link-items a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 8px;
}
.profile-section .container .profile-page .profile-nav .profile-link .profile-link-items a:hover {
  border-bottom: 2px solid rgb(28, 9, 71);
  transition: all 0.5s;
}
.profile-section .container .profile-page .profile-nav .profile-link .profile-link-items .active {
  border-bottom: 2px solid rgb(28, 9, 71);
}
.profile-section .container .profile-page .profile-drop {
  box-shadow: 1px 3px 5px 0px rgba(236, 229, 229, 0.75);
  -webkit-box-shadow: 1px 3px 5px 0px rgba(245, 236, 236, 0.75);
  -moz-box-shadow: 1px 3px 5px 0px rgba(250, 237, 237, 0.75);
}
.profile-section .container .profile-page .profile-drop button {
  box-shadow: none !important;
  background-color: #fff !important;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #D42828;
}
.profile-section .container .profile-page .profile-drop button:focus {
  border: none !important;
}
.profile-section .container .profile-page .profile-drop button i {
  color: #D42828;
  padding-right: 5px;
}
.profile-section .container .profile-page .profile-drop .accordion-body {
  color: #D42828;
}
.profile-section .container .profile-page .profile-drop .accordion-body .pro-bar {
  width: 100%;
  height: 1px;
  background-color: chocolate;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .profile-section .container .profile-page .profile-drop .accordion-body .pro-bar {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.profile-section .container .profile-page .profile-drop .accordion-body .pro-date {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
}
.profile-section .container .profile-page .profile-drop .accordion-body .dt2 {
  padding-top: 20px;
}
.profile-section .container .profile-page .profile-drop .accordion-body .pro-title {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
.profile-section .container .profile-page .profile-body {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow-x: hidden;
}
@media only screen and (max-width: 767px) {
  .profile-section .container .profile-page .profile-body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .profile-section .container .profile-page .profile-body {
    flex-direction: column;
  }
}
.profile-section .container .profile-page .profile-body .pro-left .pro-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-top: -20px;
  padding-left: 0px;
}
@media only screen and (max-width: 600px) {
  .profile-section .container .profile-page .profile-body .pro-left .pro-card {
    margin-left: 0;
  }
}
.profile-section .container .profile-page .profile-body .pro-left .pro-card > * {
  padding-left: 20px;
  padding-top: 20px;
  width: calc(100% / 2);
}
@media only screen and (max-width: 600px) {
  .profile-section .container .profile-page .profile-body .pro-left .pro-card > * {
    padding-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .profile-section .container .profile-page .profile-body .pro-left .pro-card {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-top: -10px;
  }
}
@media only screen and (max-width: 600px) and (max-width: 600px) {
  .profile-section .container .profile-page .profile-body .pro-left .pro-card {
    margin-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .profile-section .container .profile-page .profile-body .pro-left .pro-card > * {
    padding-left: 5px;
    padding-top: 10px;
    width: calc(100% / 1);
  }
}
@media only screen and (max-width: 600px) and (max-width: 600px) {
  .profile-section .container .profile-page .profile-body .pro-left .pro-card > * {
    padding-left: 0;
  }
}
.profile-section .container .profile-page .profile-body .pro-left .pro-card .card-list .card-info {
  box-shadow: 1px 3px 5px 0px rgba(236, 229, 229, 0.75);
  padding: 30px 20px;
  text-align: center;
  border-radius: 4px;
}
.profile-section .container .profile-page .profile-body .pro-left .pro-card .card-list .card-info .count {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
}
.profile-section .container .profile-page .profile-body .pro-left .pro-card .card-list .card-info .count-details {
  font-size: 12px;
}
.profile-section .container .profile-page .profile-body .pro-left .account-contact-details {
  box-shadow: 1px 3px 5px 0px rgba(236, 229, 229, 0.75);
  padding: 20px;
}
.profile-section .container .profile-page .profile-body .pro-left .account-contact-details .account-contact-info .mail {
  padding-bottom: 10px;
}
.profile-section .container .profile-page .profile-body .pro-right {
  padding-left: 20px;
}
@media only screen and (max-width: 600px) {
  .profile-section .container .profile-page .profile-body .pro-right {
    padding-left: 0px;
  }
}
.profile-section .container .profile-page .profile-body .pro-right .right-details {
  padding: 30px;
  box-shadow: 1px 3px 5px 0px rgba(236, 229, 229, 0.75);
}
.profile-section .container .profile-page .profile-body .pro-right .right-details .program-title h4 {
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 15px;
}
.profile-section .container .profile-page .profile-body .pro-right .right-details .program-details .pro-feild {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .profile-section .container .profile-page .profile-body .pro-right .right-details .program-details .pro-feild {
    flex-direction: column;
    padding-bottom: 0;
  }
}
.profile-section .container .profile-page .profile-body .pro-right .right-details .program-details .pro-feild .pro-feild-left {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-right: 20px;
}
@media only screen and (max-width: 767px) {
  .profile-section .container .profile-page .profile-body .pro-right .right-details .program-details .pro-feild .pro-feild-left {
    padding-bottom: 10px;
    width: 100%;
  }
}
.profile-section .container .profile-page .profile-body .pro-right .right-details .program-details .pro-feild .pro-feild-left label {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .profile-section .container .profile-page .profile-body .pro-right .right-details .program-details .pro-feild .pro-feild-left label {
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) {
  .profile-section .container .profile-page .profile-body .pro-right .right-details .program-details .pro-feild .pro-feild-left .program-info {
    font-size: 12px;
  }
}
.profile-section .container .profile-page .profile-body .pro-right .account-details {
  margin-top: 20px !important;
}
@media only screen and (max-width: 1023px) {
  .profile-section .container .profile-page .profile-body .pro-right .account-details {
    margin-bottom: 20px;
  }
}
.profile-section .container .profile-page .profile-body .account-right {
  padding-left: 0px !important;
  padding-right: 20px;
}
@media only screen and (max-width: 1023px) {
  .profile-section .container .profile-page .profile-body .account-right {
    padding-right: 0px;
  }
}

.table-bg {
  background-image: url(../images/table-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */