/* Color Variables */

/* primary & secondary color   */
$primary: #4b6379;
$secondary: #4487d5;

/* neutral color  */
$neutral-900: #14171f;
$neutral-800: #292e3d;
$neutral-700: #3d445c;
$neutral-600: #525b7a;
$neutral-500: #667299;
$neutral-400: #858ead;
$neutral-300: #a3aac2;
$neutral-200: #c2c7d6;
$neutral-100: #e0e3eb;
$neutral-50: #f6f8f7;

/* neutral whiteColor */

$neutral-white: #ffffff;

//  Theme Color

$color-1: $primary;
$color-2: $secondary;
$color-3: $neutral-900;
$color-4: $neutral-800;
$color-5: $neutral-700;
$color-6: $neutral-600;
$color-7: $neutral-500;
$color-8: $neutral-400;
$color-9: $neutral-300;
$color-10: $neutral-200;
$color-11: $neutral-100;
$color-12: $neutral-50;
$color-13: $neutral-white;
