

header {
  background-color: #fff;
  .page-header {
    @include spacing-section-30;
    .container {
      @include flex-c-sb;
      @include max-breakpoints(tablet-small) {
        justify-content: unset;
        width: 100%;
      }
      //toggle effect

    
      .right-menu{
       justify-content: flex-end;
       .shopping-cart{
         padding-right: 15px;
       }
       .profile{
         .user-icon{
           font-weight: bold;
           font-size: 25px;
         }
         .name{
           position: relative;
           padding-left: 15px;
           padding-right: 15px;
           font-weight: bold;
           font-family: "Roboto", sans-serif;
           .profile-list{
            position: absolute;
            top: 22px;
            display: none;
            padding: 10px 0px;
            width: 160px;
            background-color: aqua;
            .pro-list-item{
              display: flex;
             
              justify-content: center;
              flex-direction: column;
              padding: 0px 20px;
            }
          }
           &:hover{
             .profile-list
             { display: inherit;}
           }
         }
         
       }
      }
      .menu-icon {
        display: none;
        padding-right: 10px;
        @include max-breakpoints(tablet-small) {
          display: block;
        }
      }

  .login-toggle {
    display: block;
    padding-right: 10px;
    
  }

      // header logo
      .logo {
        max-width: 120px;
        width: 100%;
        height: 30px;
        img {
          @include max-breakpoints(tablet-small) {
            max-width: 120px;
          }
        }
      }

      // navigation
      nav {
     
          display: block;
          position: absolute;
          transform: translateX(-200%);
          transition: all 300ms ease;
          top: 78px;
          left: 0;
          background-color: $color-13;
          width: 100%;
          height: 100%;
          z-index: 1;
        

        ul {
          width: 100%;
          height: 100vh;
           @include flex-c-c;
          li {
            &:not(:first-child) {
              
                border-top: 1px solid $color-11;
             
            }

            a {
              @include work-sans-semi-bold;
              color: $color-3;
              padding: 0 25px;
              transition: all 0.3s ease;
              font-size: 20px;
              // @include max-breakpoints(tablet) {
              //   padding: 0 15px;
              // }

              @include max-breakpoints(tablet-small) {
                padding: 10px;
                font-size: 15px;
                line-height: 18px;
              }

              &:hover,
              &:active,
              &:focus {
                text-decoration: underline;
                text-shadow: 0px 0px 1px $color-3;
              }
            }

            &:first-child {
              a {
                padding-left: 10px;
                @include max-breakpoints(tablet-small) {
                  
                }
              }
            }

            &:last-child {
              a {
                padding-right: 0;
                @include max-breakpoints(tablet-small) {
                  padding-right: 10px;
                }
              }
            }
          }
        }

        &.active {
      
            transform: translateX(0);
         
        }
      }
    }
  }
}



.left-menu-list {
  padding-left: 20px;	
}

.left-menu-list ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
.left-menu-list ul li {
	display:inline-block;
color: #000000;
	}

.left-menu-list ul li a {
	display:block;
	padding:0 10px;	
	color:#000;
	font-size:18px;
	line-height: normal;
	text-decoration:none;
}

.left-menu-list a:hover { 
	color: rgb(83, 72, 72);
}

/* Hide Dropdowns by Default */
.left-menu-list ul ul {
	display: none;
	position: absolute; 
	top: 22px; /* the height of the main .left-menu-list */
}
	
/* Display Dropdowns on Hover */
.left-menu-list ul li:hover > ul {
	display:inherit;
  z-index: 121;
  padding: 5px 0px;
  border-radius: 4px;
}
	
/* Fisrt Tier Dropdown */
.left-menu-list ul ul li {
	width:200px;
	float:none;
	display:list-item;
	position: relative;
  padding: 10px 0px;
  background-color: #fff;
}
.left-menu-list ul ul li a{
  font-size: 14px !important;
}
/* Second, Third and more Tiers	*/
\
// .drop{
//   font-size: 16px !important;
// }
	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }