.login-bg{
  background-image: url(../images/login-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.home-bg{
  
  background: linear-gradient(25deg, rgba(108,246,254,0.62) 0%, rgba(21,234,246,0.64) 100%),url(../images/home-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 20px;
}

// calender start

// calender end